* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #ffd700;
    list-style: none;  
    background-color: rgb(35, 40, 69);
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-size: 1.2rem; 
}



header {    
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin: 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(35, 40, 69);

}

.header-area{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 0 50px 0 95px;
    z-index: 1000;
    margin: 0;
}

header nav{
    margin: 10px 10px;
    padding: 10px;
}

header nav a {
    max-width: 100%;
    width: 20vw;
    height: 20vh;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    /* margin: 10px; */
    /* align-items: first baseline; */
    font-size: 1rem;
    gap: 10px
}

.home-button:hover{
    margin: 0.5rem 1rem;
    padding: 0.5rem 2rem;
    transition-property: all;
    transition-duration: 1s;
}

.project-button:hover {
    margin: 0.5rem 1rem;
    padding: 0.5rem 2rem;
    transition-property: all;
    transition-duration: 1s;
}

.testimoni-button:hover {
    margin: 0.5rem 1rem;
    padding: 0.5rem 2rem;
    transition-property: all;
    transition-duration: 1s;
}

/* logo */
.logo-drw { 
    max-width: 100%;
    width: 10vw;
    height: 20vh;
    display: center;
}

.logo-drw:hover {
    transform: scale(1.3);
    transition: 2s;
}

main {
    
    max-width: 100%;
    max-height: 100%;
    /* padding: 0 100px; */
    /* margin-top: 150px; */
    /* display: flex;
    flex-direction: column; */
    font-size: 1.2rem;
    
}

.card-a {
    gap: 0px;
    margin: 0;
    grid-area: article;
    display: flex;
    margin-top: 100px;
    /* padding: 20px ; */
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 0px;
}



.container-p1-introduction {
    padding: 0px;
    margin: 0px;
    grid-area: article;
    display: flex;
    font-size: 0.9rem;
}

.introduction {
    height: 100vh;
    scroll-snap-align: start;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimoni {
    height: 100vh;
    scroll-snap-align: start;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-p1 {
    /* border: 1px solid white; */
    padding: 0 0 0 50px;
    margin: 0;
    font-size: 1.2rem;
    color: white;
    grid-area: article;
    color: black;
    text-shadow: #ffd700;
    z-index: 20;
    font-size: 1.5rem;
}

.img-1 {
    /* border-radius:50%; */
    grid-area: article;
    object-fit:cover;
    width: 455px;
    height: 455px;
    overflow:clip;
    max-width: 100%;
    margin: 0;
    position: relative;
    left: -200px
}

/* .container-p1-introduction p {
    /* margin: 0;
    font-size: 1rem;
    color: white; */

/* side bar */
.right-side {
    /* position:absolute; */
    padding: 0;
    overflow: block;
    display: flex;
    flex-direction: column;
    grid-area: side;
    box-sizing: border-box;
    width: 20%;
    box-shadow: 6px 2px 7px 6px rgba(0, 0.1, 0, 0.1);
    margin-top: 170px;
    width: 90%;
    height: 70%;
    /* justify-content: flex-start; */
    align-items: center;
    border-radius: 10px;
    max-width: 100%;
    
}

.main-section-1 {
    /* display: flex;
    flex-direction: column; */
    scroll-snap-align: start;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto 15%;
    grid-template-areas: 
        'article side'
        'footer footer';
    margin: 0;
    padding: 0;
}

.main-section-2 {
    scroll-snap-align: start;
    height: 100vh;
    align-content: center;

}

.main-section-3 {
    scroll-snap-align: start;
    height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column-reverse;

}

.fieldset-sec-2{
    margin: 0 10px 0 10px;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.tabs label {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  color: #ffd700;
  transition: background 0.5s ease, color 0.25s ease;
  font-weight: 900;
  /* border: 1px solid white;   */
}

.right-side input[type="radio"] {
  display: none;
}

.slide-article {
  position: relative;
  height: 20vw;
  width: 40vh;
  text-align: center;
  /* border: 1px solid white; */
}

.slides {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
  transition: opacity 0.4s, transform 0.4s;
}

#tab-intro:checked ~ .slide-article .slide-intro {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  /* transition: 2s; */
}

#tab-bio:checked ~ .slide-article .slide-bio {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  /* transition: 1s; */
}

#tab-socmed:checked ~ .slide-article .slide-socmed {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  /* transition: 1s;  */
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    margin: 0;
    background-color: rgb(8, 12, 25);
    align-items: center;
    width: 100%;
}

.footer-article-1 {
    /* border: 1px solid white; */
    /* grid-area: footer; */
}

.footer-article-2 {
    /* grid-area: footer; */
}

.social-media {
    display: flex;
    flex-direction: column;
    /* gap: 2px; */

}

.social-media img{
    max-width: 100%;
    max-height: 100%;
    width: 50px;
    height: 50px;
}

.fieldset-sec-2 {
    display: flex;
    flex-direction:row;
    /* margin-top: 100px; */
    padding: 0;
    font-size: 1rem;
    gap: 20px;
    margin: 0;
    width: 100%;
    font-size: 0.8em; 
}

.ps2 {
    text-align: end;
    padding: 20px;
    font-style: italic;

}

.assignment-list {
    /* padding: 10px; */
    margin: 0;
}

.fieldset-sec-2 p, .fieldset-sec-2 a{
    margin: 0;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10px;
    color:#ffd700;
}

thead {
    display: flex;
    flex-direction: column;
}

table {
    position: relative;
    left: -90px;
    display:flex ;
    flex-direction: row;
    font-size: 0.7rem;
    gap: 10px;
    border-collapse: collapse;
    margin: 1.5rem auto 0;
    width: 35vw;
}

tbody {
    display: flex;
    flex-direction: column;


}

.form-getintouch {
    display: flex;
    flex-direction: column ;
}

.form-information {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

th, td{
    height: 32px;
}

td {
    width: 30vw;
    text-align: justify;

}

.fieldset-sec-3 {
    margin: 0;
    padding: 0;
}